<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EEM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EEM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <userSettings>
        <EEM.Properties.Settings>
              <setting name="Password" serializeAs="String">
                    <value />
              </setting>
              <setting name="SavePassword" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="ConnectOnStartup" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="MinimizeToSystemTray" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="Server" serializeAs="String">
                    <value>http://prodgame28.lordofultima.com/284</value>
              </setting>
              <setting name="ApplicationVersion" serializeAs="String">
                    <value>1.2</value>
              </setting>
              <setting name="Username" serializeAs="String">
                    <value />
              </setting>
        </EEM.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EEM.Properties.Settings>
            <setting name="LoUUrl" serializeAs="String">
                <value>http://www.lordofultima.com/en/</value>
            </setting>
        </EEM.Properties.Settings>
    </applicationSettings>
</configuration>
