<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EEM.Plugin.Chat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LoU.Chat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
    <userSettings>
        <EEM.Plugin.Chat.Properties.Settings>
            <setting name="ColorOfWhisperText" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="ColorOfAllianceText" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="ColorOfContinentText" serializeAs="String">
                <value>128, 64, 0</value>
            </setting>
            <setting name="ColorOfSystemText" serializeAs="String">
                <value>0, 0, 192</value>
            </setting>
            <setting name="ColorOfUnknownText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorOfBackground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorOfTimeStamp" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="OpenChatWindowOnStartUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChatLogFile" serializeAs="String">
                <value>c:\\eem.chat.log</value>
            </setting>
        </EEM.Plugin.Chat.Properties.Settings>
        <LoU.Chat.Properties.Settings>
            <setting name="ColorOfWhisperText" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="ColorOfAllianceText" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="ColorOfContinentText" serializeAs="String">
                <value>128, 64, 0</value>
            </setting>
            <setting name="ColorOfSystemText" serializeAs="String">
                <value>0, 0, 192</value>
            </setting>
            <setting name="ColorOfUnknownText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorOfBackground" serializeAs="String">
                <value>White</value>
            </setting>
        </LoU.Chat.Properties.Settings>
    </userSettings>
</configuration>