<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EEM.Plugin.Notifications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <EEM.Plugin.Notifications.Properties.Settings>
            <setting name="EmailTo" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value/>
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="AuthRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AuthUserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="AuthPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="SendEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SSL" serializeAs="String">
                <value>False</value>
            </setting>
        </EEM.Plugin.Notifications.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
